# Database - Map vào ConnectionStrings:DefaultConnection
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=RestaurantOrderTracking;Username=postgres;Password=12345

# JWT - Map vào Section "JwtSettings"
JwtSettings__SecretKey=ySuperSecretKeyLongEnough_MustBeAtLeast32BytesLength...
JwtSettings__Issuer=RestaurantOrderTracking
JwtSettings__Audience=RestaurantOrderTrackingClient
JwtSettings__ExpiryMinutes=120

# Rate Limiting - Đã chuẩn rồi
RateLimitSettings__PermitLimit=100
RateLimitSettings__WindowInSeconds=60
RateLimitSettings__QueueLimit=50