# Database - Map vào ConnectionStrings:DefaultConnection
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=RestaurantOrderTracking;Username=postgres;Password=123456
# JWT - Map vào Section "JwtSettings"
JwtSettings__SecretKey=ySuperSecretKeyLongEnough_MustBeAtLeast32BytesLength...
JwtSettings__Issuer=RestaurantOrderTracking
JwtSettings__Audience=RestaurantOrderTrackingClient
JwtSettings__ExpiryMinutes=120

# Rate Limiting
RateLimitSettings__PermitLimit=100
RateLimitSettings__WindowInSeconds=60
RateLimitSettings__QueueLimit=50

# PayOS Settings
PAYOS_CLIENT_ID=0130d17f-c59c-4512-ae23-da8b6c918b6e
PAYOS_API_KEY=e3e61484-60e5-44d9-8997-614af3c37663
PAYOS_CHECKSUM_KEY=254f03d07c70b6d58d31db6274466721e5af05ab96071fd5a2e5d03107480c14
